<!DOCTYPE html>
<html>
  <head>

  <% include head %>
  <script src="/javascripts/sol.js"></script>

    
  </head>
  <body>
    <header>
    <% include header %>
     
    </header>
     <div class="showyoubox">
        <h1>Thank you for applying. We will contact you soon.</h1>
     </div>
   

    <footer>

    <% include footer %>
    </footer>
  </body>
</html>