<!DOCTYPE html>
<html>
  <head>

      <title>AlphaPay</title>
      <link rel="shortcut icon"

        href="/images/logo.png">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="/javascripts/web.js"></script>
      <!-- Compressed CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />

      <!-- Compressed JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
      <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
      <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


      <link rel="stylesheet" href="/stylesheets/iphone.css" media="only screen and (max-device-width:480px)"/>
      <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

      <script src="/javascripts/sol.js"></script>


  </head>
  <body>
    <header>

      <nav class="navbar navbar-light bg-faded fixed-top">
        <a class="navbar-brand" href="/english">
          <img id="logo1" src="/images/03.png"  alt="">
          <img id="logo2" src="/images/ali.png"  alt="">
          <img id="logo3" src="/images/wechat.png" alt="">
        </a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/ensol">SOLUTION</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="/enapi">API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">CONTACT</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Signup</a>
            <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="/applym">MERCHANTS</a>
                          <a class="dropdown-item" href="https://flashpayment.com/citypartner_register.html">CITY PARTNER</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://flashpayment.com">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">中文</a>
          </li>



        </ul>
        <li class="nav-item dropdown" id="dp" >
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">reorder</i></a>
          <div class="dropdown-menu dropdown-menu-right">
            
     
            <a class="dropdown-item" href="/ensol">SOLUTION</a>
          
            <a class="dropdown-item" href="/enapi">API</a>
            <a class="dropdown-item" href="/english#contact">CONTACT</a>

            <a class="dropdown-item" href="/applym">MERCHANTS</a>
            <a class="dropdown-item" href="https://flashpayment.com/citypartner_register.html">CITY PARNTER</a>
            <a class="dropdown-item" href="https://flashpayment.com">LOGIN</a>
            <a class="dropdown-item"  href="/">中文</a>

          </div>
          </li>


      </nav>

    </header>




    <div class="offlinejun">
     
    </div> 
  

    <div id="sola" class="offlineb">
      <h2>Solution</h2>
      <div id="offlines" class="row">
        <div id="a1" class="col offlinescol">
         <i class="material-icons">verified_user</i>
         <h6>Security</h6>
         <p>We keep your business and customers' information safe. Real-time transaction monitoring and our protection policies.</p>
         
        </div>

        <div id="a2" class="col offlinescol">
          <i class="material-icons">monetization_on</i>
          <h6>Fees</h6>
          <p>No setup fee, no management fee, and probably the lowest processing rate. </p>
        </div>

        <div id="a3" class="col offlinescol">
        <i class="material-icons">timeline</i>
        <h6>Marketing Support</h6>
        <p>Wechat and Alipay platform ads, sharing the resource of marketing.</p>
        </div>

         <div id="a4" class="col offlinescol">
          <i class="material-icons">loop</i>
          <h6>Advanced Technology</h6>
          <p>Merchant only need one QR code for both Wechat and Alipay users. Merchant can choose QR code or POS machine. We also provide API to the merchants.</p>
        </div>

      </div>

    </div>

    <div id="solaphone" class="offlinebphone">
     <h2>Solution</h2>

      <div class="arow">
        <i class="material-icons">verified_user</i>
         <h6>Security</h6>
         <p>We keep your business and customers' information safe. Real-time transaction monitoring and our protection policies.</p>
      </div>

      <div class="arow">
          
          <i class="material-icons">monetization_on</i>
        <h6>Fees</h6>
          <p>No setup fee, no management fee, and probably the lowest processing rate. </p>
       
      </div>

      <div class="arow">
         <i class="material-icons">timeline</i>
        <h6>Marketing Support</h6>
        <p>Wechat and Alipay platform ads, sharing the resource of marketing.</p>
      </div>

      <div class="arow">
          <i class="material-icons">loop</i>
          <h6>Advanced Technology</h6>
          <p>Merchant only need one QR code for both Wechat and Alipay users. Merchant can choose QR code or POS machine. We also provide API to the merchants.</p>
      </div>

    </div>

    <div id="solc" class="row offlinec">
    
       <div class="col offlineccol left">
          <img id="offshow" src="/images/imac.png">

       </div>

       <div class="col offlineccol right">
          <h2>Real-time transaction monitoring</h4>
          <div class = "row">
            <div class= "col realtime left">
              <h6><i class="material-icons">grade</i>Real-time reporting<h6>
              <p>Get the transaction insights you need anytime you want and anywhere you want. Refund can be done via backend system as well.</p>
              <h6><i class="material-icons">grade</i>Settlement and transaction summary</h6>
              <p>Pull transactions processed in each batch, categorized by payment method.</p>
              <h6><i class="material-icons">grade</i>Sub-accounts for your team</h6>
              <p>Under master account, you can create sub-accounts for members in your team with limited access for their needs.</p>

            </div>

            <div class='col realtime right'>
              <h6><i class="material-icons">grade</i>Advanced transaction search</h6>
              <p>Filter by card type, created date, settled date, and more.</p>
              <h6><i class="material-icons">grade</i>Transcation and Customer Analysis</h6>
              <p>You can check the transcation and customer analysis from on the system.</p>


            </div>

          </div>

       </div>
   </div>

   <div id="solcph" >
       <img id="offshow" src="/images/imac.png">
              <h2>Real-time transaction monitoring</h4>
          <div class = "row">
            <div class= "col realtime left">
              <h6><i class="material-icons">grade</i>Real-time reporting<h6>
              <p>Get the transaction insights you need anytime you want and anywhere you want. Refund can be done via backend system as well.</p>
              <h6><i class="material-icons">grade</i>Settlement and transaction summary</h6>
              <p>Pull transactions processed in each batch, categorized by payment method.</p>
              <h6><i class="material-icons">grade</i>Sub-accounts for your team</h6>
              <p>Under master account, you can create sub-accounts for members in your team with limited access for their needs.</p>

            </div>

            <div class='col realtime right'>
              <h6><i class="material-icons">grade</i>Advanced transaction search</h6>
              <p>Filter by card type, created date, settled date, and more.</p>
              <h6><i class="material-icons">grade</i>Transcation and Customer Analysis</h6>
              <p>You can check the transcation and customer analysis from on the system.</p>


            </div>>

          </div>


   </div>

    <div id="sold" class="row offlined">
        <div class ="col offlinedleft">
          <div class="row offlinedleftson">
          <h1>Payment Solution</h1>
          </div>
          <div class="row offlinedleftson">
            <h4>We will provide the payment solution based on your business.</h4>

          </div>

              <div class="row offlinedleftson">
            <div class="col">
                <h5><i class="material-icons">thumb_up</i>POS machine</h5>
            </div>
            <div class="col">
              <p>We have designed a standalone POS machine with built-in printer and touch screen</p>
            </div>

            <div class="col">
              <p>Easy set up, no extra fee</p>

            </div>
            
          </div>


          <div class="row offlinedleftson">
            <div class="col">
              <h5><i class="material-icons">thumb_up</i>QR code</h5> 
            </div>
            <div class="col">
             <p> Collect payments from anyone with just a QR code </p>
            </div>

            <div class="col">

              <p>The QR code can work on Wechat and Alipay platform</p>
            </div>
            
          </div>

          <div class="row offlinedleftson">
            <div class="col">
              <h5><i class="material-icons">thumb_up</i>API</h5> 
            </div>
              <div class="col">
              <p>Add Wechat pay and more to your WooCommerce and other e-stores using Alphapay Plugins </p>
            </div>

            <div class="col">

              <p>Our one-time Transanction Solution offers fast and secure payment method for merchants</p>
            
            </div>
            
          </div>


        </div>

        <div class="col offlinedright">

        </div>

    </div>
    <div id="soldph">

      <div class="row offlinedleftson">
          
          <h1>Payment Solution</h1>
          </div>
          <div class="row offlinedleftson">
            <h4>We will provide the payment solution based on your business.</h4>


          </div>
           <div class="row offlinedleftson">
             <img id="vv" src="/images/v01.jpg">

           </div>
          <div class="row offlinedleftson">
            <div class="col-2">
                <h5><i class="material-icons">thumb_up</i>POS Machine</h5>
            </div>
            <div class="col-9 ph8">
             <p>We have designed a standalone POS machine with built-in printer and touch screen</p>
             <p>Easy set up, no extra fee</p>
            </div>

          
            
          </div>


          <div class="row offlinedleftson">
            <div class="col-2">
              <h5><i class="material-icons">thumb_up</i>QR Code</h5> 
            </div>
            <div class="col-9 ph8">
              <p>Collect payments from anyone with just a QR code </p>
              <p>This QR code can work on Wechat and Alipay platform</p>
            </div>
         
          </div>

          
          <div class="row offlinedleftson">
            <div class="col-2">
               <h5><i class="material-icons">thumb_up</i>API</h5> 
            </div>
            <div class="col-9 ph8">
              <p>Add Wechat pay and more to your WooCommerce and other e-stores using Alphapay Plugins </p>
              <p>Our one-time Transanction Solution offers fast and secure payment method for merchants</p>
            </div>

          
            
          </div>

    </div>






































    <div id="contact" >

      <div class="row justify-content-md-center">
      <div class="col-2" id="conleft">
        <h4>Contact Us</h4>

        <p>International Business Park</p>
        <p><i class="ion-ios-location"></i> 230-4320 Viking Way</p>
        <p>Richmond,BC V6V 2L4</p>

        <p><i class="ion-android-call"></i>Tel:1-855 937 7888</p>
        <p><i class="ion-email"></i>info@alphapay.ca</p>
      </div>
        <div class="col-2">
            <img src="/images/w1.jpg" width="200" height="200" alt="">
            <h6>AlphaPay Offical Account</h6>
          </div>
          <div class="col-2">
              <img src="/images/kefu.jpg" width="200" height="200" alt="">
              <h6>AlphaPay Service Account</h6>
          </div>
        </div>
    </div>

    </div>
    <div id ="phonecontact">
      <div class = "cont1">
          <h4>Contact Us</h4>

        <p>International Business Park</p>
        <p><i class="ion-ios-location"></i> 230-4320 Viking Way</p>
        <p>Richmond,BC V6V 2L4</p>

        <p><i class="ion-android-call"></i>Tel:1-855 937 7888</p>
        <p><i class="ion-email"></i>info@alphapay.ca</p>
      </div>

      <div class = "cont2">
        <img src="/images/w1.jpg" width="200" height="200" alt="">
          <h6>AlphaPay Offical Account</h6>
      </div>

      <div class = "cont3">
        <img src="/images/kefu.jpg" width="200" height="200" alt="">
        <h6>AlphaPay Service Account</h6>
      </div>
    </div>

<HR>



    <footer class="text-center">

      </a><br><br>
      <p>CopyRight © 2017-2018 .All right reserved by AlphaPay.</p>

    </footer>



    </body>
    </html>
