  <div id="contact" >

      <div class="row justify-content-md-center">
      <div class="col-2" id="conleft">
        <h4>联系我们</h4>

        <p>International Business Park</p>
        <p><i class="ion-ios-location"></i> 230-4320 Viking Way</p>
        <p>Richmond,BC V6V 2L4</p>

        <p><i class="ion-android-call"></i>Tel:1-855 937 7888</p>
        <p><i class="ion-email"></i>info@alphapay.ca</p>
      </div>




          <div class="col-2">
            <img src="/images/w1.jpg" width="200" height="200" alt="">
            <h6>AlphaPay公众号</h6>
          </div>
          <div class="col-2">
              <img src="/images/kefu.jpg" width="200" height="200" alt="">
                <h6>AlphaPay客服号</h6>
          </div>
        </div>


    </div>

    
    <div id ="phonecontact" class="justify-content-md-center">
      <div class = "cont1">
        <h4>联系我们</h4>

        <p>International Business Park</p>
        <p><i class="ion-ios-location"></i> 230-4320 Viking Way</p>
        <p>Richmond,BC V6V 2L4</p>

        <p><i class="ion-android-call"></i>Tel:1-855 937 7888</p>
        <p><i class="ion-email"></i>info@alphapay.ca</p>
      </div>

      <div class = "cont2">
        <img src="/images/w1.jpg" width="200" height="200" alt="">
        <h6>AlphaPay公众号</h6>
      </div>

      <div class = "cont3">
        <img src="/images/kefu.jpg" width="200" height="200" alt="">
          <h6>AlphaPay客服号</h6>
      </div>
    </div>
    <HR>



    <div class="text-center">

      </a><br><br>
      <p>CopyRight © 2017-2018 .All right reserved by AlphaPay.</p>
    </div>