 <nav id="headnav" class="navbar navbar-light bg-faded fixed-top">
        <a class="navbar-brand" href="/">
          <img id="logo1" src="/images/03.png"  alt="">
          <img id="logo2" src="/images/ali.png"  alt="">
          <img id="logo3" src="/images/wechat.png" alt="">
        </a>
        <ul class="nav justify-content-end">
         
          <li class="nav-item">
            <a class="nav-link" href="/solution">解决方案</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/cnapi">支付接口API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contact">联系我们</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">商户申请</a>
            <div class="dropdown-menu dropdown-menu-right">
                       <!--    <a class="dropdown-item" href="https://www.flashpayment.com/partner_register.html">商户申请</a> -->
                           <a class="dropdown-item"  href="/applym">商户申请</a>
                          <a class="dropdown-item" href="https://flashpayment.com/citypartner_register.html">城市合伙人</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://flashpayment.com">登录</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/english">English</a>
          </li>
        </ul>
        <li class="nav-item dropdown" id="dp" >
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">reorder</i></a>
          <div class="dropdown-menu dropdown-menu-right">


            
            <a class="dropdown-item" href="/solution">解决方案</a>
            <a class="dropdown-item" href="/cnapi">API</a>

            <a class="dropdown-item" href="/#contact">联系我们</a>
            <!-- <a class="dropdown-item" href="https://www.flashpayment.com/partner_register.html">商户申请</a> -->
             <a class="dropdown-item"  href="/applym">商户申请</a>
            <a class="dropdown-item" href="https://flashpayment.com/citypartner_register.html">城市合伙人</a>
            <a class="dropdown-item" href="https://flashpayment.com">登录</a>
            <a class="dropdown-item"  href="/english">ENGLISH</a>

          </div>
          </li>
      </nav>
<div>