<!DOCTYPE html>
<html>
  <head>
  <% include head %>
  </head>
  <body>
    <header>


    <% include header %>
    </header>
    <div id="home"></div>

         <div class="dropdown" id="dpbtn">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropmb" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                商户申请
              </button>
              <div class="dropdown-menu" id="onemenu" aria-labelledby="dropdownMenuButton">
                <!-- <a class="dropdown-item"  href="https://www.flashpayment.com/partner_register.html">商户申请</a> -->
                <a class="dropdown-item"  href="/applym">商户申请</a>
                <a class="dropdown-item" href="https://flashpayment.com/citypartner_register.html">城市合伙人</a>

              </div>
            </div>
    <div class="jun">





            <div id="carouselExampleIndicatorsone" class="carousel slide" data-ride="carousel">
             <ol class="carousel-indicators">
               <li data-target="#carouselExampleIndicatorsone" data-slide-to="0" class="active"></li>
               <li data-target="#carouselExampleIndicatorsone" data-slide-to="1"></li>

             </ol>
             <div class="carousel-inner">
               <div class="carousel-item active">
                 <img class="d-block w-100" src="/images/v1.png" alt="First slide">
               <div class="carousel-caption">

                 <div class="applybox">

                <!--      <a class="btn ap" href="https://www.flashpayment.com/partner_register.html" role="button">商户申请</a> -->
                      <a class="btn ap" href="/applym" role="button">商户申请</a>

                     <br>
                 <a class="btn ap" href="https://flashpayment.com/citypartner_register.html" role="button">城市合伙人</a>

                 </div>
                </div>
             </div>
               <div class="carousel-item">
                 <img class="d-block w-100" src="/images/ph1.jpg" alt="Second slide">
                   <div class="carousel-caption">
                 <div class="applybox">

      <!--               <a class="btn ap" href="https://www.flashpayment.com/partner_register.html" role="button">商户申请</a> -->
                    <a class="btn ap" href="/applym" role="button">商户申请</a>
                    <br>
                   <a class="btn ap" href="https://flashpayment.com/citypartner_register.html" role="button">城市合伙人</a>

                 </div>
                 </div>
                </div>

             </div>

           </div>


    </div >
  
  
  
  
    <div id="particles-js">
     


      <div id = "data">
          
                    <h2>移动支付</h2>
                    <div class="row">
                    <div id="dataleft" class="col-8">
                      
                  
                       
                      <img id="compare" src='/images/compare.png' alt=''>
                    </div>
                    <div id="dataright" class="col-4">
                      <div id="f1" >
          
          
                        <p>每月9亿微信活跃用户,4.5亿阿里支付活跃用户</p>
                      </div>
                      <br>
                      <div id="f2" >
          
          
                          <p>200万中国移民,每年60万中国游客,18万中国留学生</p>
                      </div>
                      <br>
                      <div id="f3" >
          
          
                        <p>中国游客去年在加拿大境内花费超过12亿加币.</p>
                      </div>
                    </div>
                  </div>
          
            </div>
      
    </div>

    
    
    <script src="/javascripts/particles.js"></script>
    <script src="/javascripts/ver.js"></script>





          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
           <ol class="carousel-indicators">
             <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
             <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

           </ol>
           <div class="carousel-inner">
             <div class="carousel-item active">
               <img class="d-block w-100" src="/images/v1.png" alt="First slide">
             <div class="carousel-caption d-none d-md-block">
                 <a href="https://www.flashpayment.com/partner_register.html" id="applybt" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">APPLY</a>
               </div>
           </div>
             <div class="carousel-item">
               <img class="d-block w-100" src="/images/ph1.jpg" alt="Second slide">
                 <div class="carousel-caption d-none d-md-block">
                 <a href="https://www.flashpayment.com/partner_register.html" id="applybt" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">APPLY</a>
               </div>
              </div>

           </div>

         </div>
          <div id="desrowphone">
            <p><i class="material-icons">whatshot</i>每月有超过9亿个活跃的Wechat用户。</p>
            <p><i class="material-icons">whatshot</i>超过4.5亿活跃支付宝用户月。</p>
            <p><i class="material-icons">whatshot</i>中国游客去年在加拿大花费过12.75亿加元</p>
            <p><i class="material-icons">whatshot</i>200万中国移民,60万中国游客,18万中国留学生</p>

          </div>








    <div id="solution">
        <h2>行业解决方案</h2>
        <div class="row" id="sol">
          <div class="col-6">
            <div id="sharpContainer">
                  <div class="sharp center">
                      <i id="s4" class="material-icons" >hotel</i>
                  </div>
                  <div class="sharp top">
                     <i id="s5" class="material-icons" >shopping_cart</i>
                  </div>
                  <div class="sharp top-left">
                      <i id="s3" class="material-icons">restaurant_menu</i>
                  </div>
                  <div class="sharp top-right">
                      <i id="s2" class="material-icons">flight</i>
                  </div>
                  <div class="sharp bottom">
                      <i id="s1" class="material-icons">school</i>
                  </div>
                  <div class="sharp bottom-left">

                  </div>
                  <div class="sharp bottom-right">

                  </div>
              </div>
          </div>
          <div class="col-6">
            <div class="showcon">
              <div id="show1">
                <h4>留学移民</h4>
                  <p>移动二维码支付，线上随时缴费，学费咨询费快速收缴
                 <br>公众平台新客户营销广告，老客户精准优惠活动推送
                    </p>
              </div>
              <div id="show2">
                <h4>旅游</h4>
                  <p>景区扫码购票，减少客人排队时间<br>
                     景区商店扫码付款，收款方便快捷<br>
                     公众平台景区咨询，优惠活动推送。</p>
            </div>
              <div id="show3">
                <h4>餐饮 </h4>
                  <p>
                    多店铺经营，资金统一结算 <br>
                    小程序自助预约，外卖点餐，买单<br>
                    商家移动支付二维码，外卖收款方便快捷<br>
                    公众平台新客户营销广告，老客户精准优惠活动推送</p>
              </div>
              <div id ="show4">
                <h4>酒店</h4>
                  <p>
                    预授权押金冻结，房费支付<br>
                    公众平台新客户营销广告，老客户精准优惠活动推送</p>
              </div>
              <div id="show5">
                <h4>物流电商</h4>
                  <p>
                    线上商城API支付接口<br>
                    移动支付二维码, 加币实时汇率收款，省去换汇烦恼</p>
            </div>
            </div>
          </div>
        </div>
        <div id="phonesol">
          <div id="accordion" role="tablist">

          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  留学移民
                </a>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <p ><a class="material-icons">check</a>移动二维码支付，线上随时缴费，学费咨询费快速收缴</p>
                <br>
                <p><a class="material-icons">check</a>公众平台新客户营销广告，老客户精准优惠活动推送</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  旅游
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">

              <p><a class="material-icons">check</a>景区扫码购票，减少客人排队时间</p>
              <br>
              <p><a class="material-icons">check</a> 景区商店扫码付款，收款方便快捷</p>
              <br>
              <p><a class="material-icons">check</a> 公众平台景区咨询，优惠活动推送</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  餐饮
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">

                <p><a class="material-icons">check</a>多店铺经营，资金统一结算</p>
                <br>
                <p><a class="material-icons">check</a>小程序自助预约，外卖点餐，买单</p>
                <br>
                <p><a class="material-icons">check</a>商家移动支付二维码，外卖收款方便快捷</p>
                <br>
                <p><a class="material-icons">check</a>公众平台新客户营销广告，老客户精准优惠活动推送</p>

              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingFour">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                酒店
                </a>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">

                <p><a class="material-icons">check</a>预授权押金冻结，房费支付</p>
                <br>
                <p><a class="material-icons">check</a>公众平台新客户营销广告，老客户精准优惠活动推送</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingFive">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                物流电商
                </a>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">

            <p><a class="material-icons">check</a>线上商城API支付接口</p>
            <p><a class="material-icons">check</a>移动支付二维码, 加币实时汇率收款，省去换汇烦恼</p>
              </div>
            </div>
          </div>


          </div>

        </div>
    </div>
    <div id="whyre">
    <div id="onoffline">
      <h2>为什么选择AlphaPay</h2>
          <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="/images/c2.jpg" alt="Card image cap">
              <div class="card-body">

                <p class="card-text">AlphaPay是一家位于温哥华的本土移动支付公司</p>

              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/images/c3.jpg" alt="Card image cap">
              <div class="card-body">

                <p class="card-text">AlphaPay是腾讯和阿里巴巴直接授权的合作伙伴</p>

              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/images/ser1.jpg" alt="Card image cap">
              <div class="card-body">

                <p class="card-text">AlphaPay可在餐饮，旅游，购物等多个领域，为商家提供支付解决方案</p>

              </div>
            </div>

          </div>
   </div>






    <div id="onoffphone">
      <h2>服务</h2>

              <i class="material-icons">dock</i>
              <h4>扫码支付</h4>
              <p>商家扫描客人手机上的付款二维码<br>或条形码进行收款</p>

              <img src='/images/qrcode.jpg' alt='qrcode'>
              <h4>二维码支付</h4>
              <p>客人扫描商家的二维码进行付款</p>



              <i class="material-icons">phonelink</i>
              <h4>在线支付</h4>
              <p>客人通过商家的网页，微信公众号进行<br>微信支付</p>




    </div>
    <div id="feature">
      <h2>您的安全 我们的责任<h2>

        <div id="botrow" class="row justify-content-md-center">
          <div id="f1" class="col-3">
            <i class="ion-lock-combination"></i>
            <h5>安全</h5>
            <p>交易数据加密，后台流量实时监控，保障客户交易隐私安全
              </p>
          </div>
          <div id="f2" class="col-3">
              <i class="ion-settings"></i>
              <h5>技术支持</h5>
              <p>提供各行业支付解决方案，通过微信支付宝二码合一，简化支付流程，提升用户体验</p>
          </div>
          <div id="f3" class="col-3">
            <i class="ion-podium"></i>
            <h5>营销服务</h5>
            <p>朋友圈广告，发现平台等增值服务，共享微信支付宝生态资源。微信支付宝海外优惠，鼓励金，红包等活动丰富商户营销方式</p>
          </div>
        </div>


      </div>
      <div id="phonefe">

        <h2>您的安全 我们的责任</h2>
          <div class="fe1">
            <i class="ion-lock-combination"></i>
            <h5>安全</h5>
            <p>交易数据加密，后台流量实时监控，保障客户交易隐私安全
              </p>
          </div>
          <div class="fe1">
            <i class="ion-settings"></i>
            <h5>技术支持</h5>
            <p>提供各行业支付解决方案，通过微信支付宝二码合一，简化支付流程，提升用户体验</p>
          </div>
          <div class="fe1">
            <i class="ion-podium"></i>
            <h5>营销服务</h5>
            <p>朋友圈广告，发现平台等增值服务，共享微信支付宝生态资源。微信支付宝海外优惠，鼓励金，红包等活动丰富商户营销方式</p>
          </div>
      </div>
    </div>



      <footer>
        <% include footer %>

      </footer>

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </body>
</html>
