<!DOCTYPE html>
<html>
  <head>
  <% include head %>

 <script src="/javascripts/sol.js"></script>
    
  </head>
  <body>
    <header>

      <% include header %>
    </header>
  
    <div class="offlinejun">
     
    </div> 
  

    <div id="sola" class="offlineb">
      <h2>解决方案</h2>
      <div id="offlines" class="row">
        <div id="a1" class="col offlinescol">
         <i class="material-icons">verified_user</i>
         <h6>安全</h6>
         <p>交易数据加密，后台流量实时监控,保证商家和用户的信息安全</p>
         
        </div>

        <div id="a2" class="col offlinescol">
          <i class="material-icons">monetization_on</i>
          <h6>费用</h6>
          <p>无需注册安装等附加费用</p>
        </div>

        <div id="a3" class="col offlinescol">
        <i class="material-icons">timeline</i>
        <h6>营销帮助</h6>
        <p>微信和支付宝平台的推广,微信公众号的宣传，朋友圈广告，微信软文，支付宝发现平台</p>
        </div>

         <div id="a4" class="col offlinescol">
          <i class="material-icons">loop</i>
          <h6>技术更新</h6>
          <p>商家只需要使用一个二维码，就可以接受支付宝，微信支付付费;商家可根据需要，选择是否安装机器</p>
        </div>

      </div>

    </div>

    <div id="solaphone" class="offlinebphone">
     <h2>解决方案</h2>

      <div class="arow">
        <i class="material-icons">verified_user</i>
         <h6>安全</h6>
         <p>交易数据加密，后台流量实时监控,保证商家和用户的信息安全</p>
      </div>

      <div class="arow">
          
          <i class="material-icons">monetization_on</i>
          <h6>费用</h6>
          
          <p>
          无需注册安装等附加费用
          </p>
       
      </div>

      <div class="arow">
         <i class="material-icons">timeline</i>
          <h6>营销帮助</h6>
          <p>微信和支付宝平台的推广,微信公众号的宣传，朋友圈广告，微信软文，支付宝发现平台</p>
      </div>

      <div class="arow">
          <i class="material-icons">loop</i>
          <h6>技术更新</h6>
          <p>商家只需要使用一个二维码，就可以接受支付宝，微信支付付费;商家可根据需要，选择是否安装机器
          </p>
      </div>

    </div>

    <div id="solc" class="row offlinec">
    
       <div class="col offlineccol left">
          <img id="offshow" src="/images/imac.png">

       </div>

       <div class="col offlineccol right">
          <h2>实时数据监控</h4>
          <div class = "row">
            <div class= "col realtime left">
              <h6><i class="material-icons">grade</i>实时报告<h6>
              <p>随时随地查询交易，实时监控交易记录，可在后台完成退款</p>
              <h6><i class="material-icons">grade</i>交易总结</h6>
              <p>所有交易记录批量管理，对支付方式进行归类</p>
              <h6><i class="material-icons">grade</i>收营员账户管理</h6>
              <p>在后台对所有收营员账号进行管理，查看记录</p>

            </div>

            <div class='col realtime right'>
              <h6><i class="material-icons">grade</i>交易记录查询</h6>
              <p>根据付款方式，消费日期等选项进行交易查询</p>
              <h6><i class="material-icons">grade</i>交易和顾客分析</h6>
              <p>对消费方式，顾客群体进行数据分析，发现潜在顾客</p>


            </div>

          </div>

       </div>
   </div>

   <div id="solcph" >
       <img id="offshow" src="/images/imac.png">
              <h2>实时数据监控</h4>
          <div class = "row">
            <div class= "col realtime left">
              <h6><i class="material-icons">grade</i>实时报告<h6>
              <p>随时随地查询交易，实时监控交易记录，可在后台完成退款</p>
              <h6><i class="material-icons">grade</i>交易总结</h6>
              <p>所有交易记录批量管理，对支付方式进行归类</p>
              <h6><i class="material-icons">grade</i>收营员账户管理</h6>
              <p>在后台对所有收营员账号进行管理，查看记录</p>

            </div>

            <div class='col realtime right'>
              <h6><i class="material-icons">grade</i>交易记录查询</h6>
              <p>根据付款方式，消费日期等选项进行交易查询</p>
              <h6><i class="material-icons">grade</i>交易和顾客分析</h6>
              <p>对消费方式，顾客群体进行数据分析，发现潜在顾客</p>


            </div>

          </div>


   </div>

    <div id="sold" class="row offlined">
        <div class ="col offlinedleft">
          <div class="row offlinedleftson">
          <h1>支付方案</h1>
          </div>
          <div class="row offlinedleftson">
            <h4>我们会根据您的需要为您制定支付的解决方案</h4>

          </div>

              <div class="row offlinedleftson">
            <div class="col">
                <h5><i class="material-icons">thumb_up</i>POS机支付</h5>
            </div>
            <div class="col">
              <p>我们已经为商家准备了可以支持线下支付的电子POS机</p>
            </div>

            <div class="col">
              <p>安装简单使用方便无需附加费用</p>

            </div>
            
          </div>


          <div class="row offlinedleftson">
            <div class="col">
              <h5><i class="material-icons">thumb_up</i>二维码支付</h5> 
            </div>
            <div class="col">
             <p> 我们可以为不需要机器的店家制定独特的二维码 </p>
            </div>

            <div class="col">

              <p>聚合支付，二维码同时支持微信和支付宝消费, 无需切换</p>
            </div>
            
          </div>

          <div class="row offlinedleftson">
            <div class="col">
              <h5><i class="material-icons">thumb_up</i>API接口</h5> 
            </div>
            <div class="col">
             <p> 可以为有特别需要的商户提供API接口  </p>
            </div>

            <div class="col">

              <p> 顾客通过商家的微信公众号或者网页进行在线支付</p>
            </div>
            
          </div>


        </div>

        <div class="col offlinedright">

        </div>

    </div>
    <div id="soldph">

      <div class="row offlinedleftson">
          
          <h1>支付方案</h1>
          </div>
          <div class="row offlinedleftson">
            <h4>我们会根据您的需要为您制定支付的解决方案</h4>

          </div>
           <div class="row offlinedleftson">
             <img id="vv" src="/images/v01.jpg">

           </div>
          <div class="row offlinedleftson">
            <div class="col">
                <h5><i class="material-icons">thumb_up</i>POS机支付</h5>
            </div>
            <div class="col-9 ph8">
              <p>我们已经为商家准备了可以支持线下支付的电子POS机</p>
         
              <p>安装简单使用方便无需附加费用</p>

            </div>
            
          </div>


          <div class="row offlinedleftson">
            <div class="col">
              <h5><i class="material-icons">thumb_up</i>二维码支付</h5> 
            </div>
            <div class="col-9 ph8">
             <p> 我们可以为不需要机器的店家制定独特的二维码 </p>
          

              <p>聚合支付，二维码同时支持微信和支付宝消费, 无需切换</p>
            </div>
            
          </div>

          <div class="row offlinedleftson">
            <div class="col">
              <h5><i class="material-icons">thumb_up</i>API接口</h5> 
            </div>
            <div class="col-9 ph8">
             <p> 可以为有特别需要的商户提供API接口  </p>
            

              <p> 顾客通过商家的微信公众号或者网页进行在线支付</p>
            </div>
            
          </div>

    </div>
    <footer>

   <% include footer %>
    </footer>
  </body>
</html>